<div class="col-lg-3">
    <h2 class="my-4">Our Collections</h2>
    <div class="list-group">
        <a href="/collection/sofa" class="list-group-item">Sofa</a>
        <a href="/collection/photo" class="list-group-item">Photo Frames</a>
    </div>
</div>